<a href="https://colab.research.google.com/github/SoniaB14/Python/blob/main/Assignment_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q1. Create a dictionary called student with keys: name, age, course, city. Print each value.

In [5]:
student = {
    "Name" : "Sonia Bhatti",
    "Age": 22,
    "Course": "Python",
    "City": "Sukkur"
}
print(student)

{'Name': 'Sonia Bhatti', 'Age': 22, 'Course': 'Python', 'City': 'Sukkur'}

### Q2. Adding & Updating Values
Add color='White', update year to 2022 and print dictionary

In [13]:
car = {
    "Brand": "Toyota",
    "Model": "Corolla",
    "Year": 2018
}
car["Color"] = "White"
car.update({"Year": 2022})
print(car)

{'Brand': 'Toyota', 'Model': 'Corolla', 'Year': 2022, 'Color': 'White'}

### Q3. Print keys and values using loop.

In [14]:
person = {
    "Name": "Sonia Bhatti",
    "Age": 22,
    "City": "Sukkur"
}
for p in person:
  print(person)

{'Name': 'Sonia Bhatti', 'Age': 22, 'City': 'Sukkur'}
{'Name': 'Sonia Bhatti', 'Age': 22, 'City': 'Sukkur'}
{'Name': 'Sonia Bhatti', 'Age': 22, 'City': 'Sukkur'}

### Q4. Count frequency of numbers.

In [47]:
from collections import Counter
numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]
freq = Counter(numbers)
print(freq)

Counter({5: 5, 4: 4, 3: 3, 2: 2, 1: 1})

### Q5 Take sentence input and count word frequency.

In [8]:
from collections import Counter
a = input("Write a sentence")
sent = a.split()
freq = Counter(sent)
print(freq)

Write a sentencehi ji hi
Counter({'hi': 2, 'ji': 1})

### Q6. Student marks & average

In [11]:
marks = {"Math": 80, "English": 70, "Physics": 90}
t = sum(marks.values())
av = t / len(marks)
print(av)

80.0

### Q7. Highest scoring student

In [15]:
students = {
    "Ali": 85,
    "Sara": 92,
    "Ahmed": 78,
    "Zara": 95
}
top = max(students, key=students.get)
print(top)

Zara

### Q8. Merge dictionaries

In [13]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
d3 = dict1 | dict2
print(d3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}